@{
    ViewBag.Title = "About";
}
<!-- Start heading-banner  -->
<div class="heading-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--  End heading-banner  -->
<!--  start about us  -->
<div  class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="img-about-us">
                    <img src="~/images/about-us.jpeg" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h2>We Are <span>Online Course </span></h2>
                    <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum justo vitae convallis varius. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis.
                     </p>
                    <p>
                         Donec aliquet, nibh ut imperdiet venenatis, arcu lectus bibendum velit, et gravida sapien justo a libero. Suspendisse ornare, urna id finibus vestibulum.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum justo vitae convallis varius. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--  end about us  -->